# Compiled class file
*.class
target

# .env file
.env

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDEs directories and files
!.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

client/.vscode/*
client/.idea/*

server/.vscode/*
server/.idea/*